<h1><%= @sub.title %> subreddit =D</h1>

<%= link_to "Create Post", new_sub_post_url(@sub), method: :get %>
-
<%= link_to "Back to All Subs", subs_url, method: :get %>
<br><br>

<table>
  <tr>
    <th>Post Title</th>
    <th>URL</th>
    <th>Content</th>
    <th>Author</th>
    <th></th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to "#{post.title}", post_url(post), method: :get %></td>
      <td><a href="<%= post.url %>">Link</a></td>
      <% if post.content.length > 50 %>
        <td><%= post.content[0..49] %>...</td>
      <% else %>
        <td><%= post.content %></td>
      <% end %>
      <td><%= post.author.username %></td>
      <% if post.author_id == current_user.id %>
        <td><%= button_to "Edit", edit_post_url(post), method: :get %></td>
        <td><%= button_to "Delete", post_url(post), method: :delete %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>
