<h1>Edit Your Post! =D</h1>

<form action=" <%= post_url(@post) %>" method="post">
  <input type="hidden" name="_method" value="patch"/>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>

  <label for="title">Title:</label><br>
  <input id="title" type="text" name="post[title]" value="<%= @post.title %>"><br>

  <label for="url">URL:</label><br>
  <input id="url" type="text" name="post[url]" value="<%= @post.url %>"><br>

  <label for="content">Content</label><br>
  <textarea id="content" name="post[content]" rows="8" cols="40"><%= @post.content %></textarea><br>

  <input type="submit" value="Submit Post">
</form>
